<!-- Data tables -->
<script type="text/javascript" src="assets/widgets/datatable/datatable.js"></script>
<script type="text/javascript" src="assets/widgets/datatable/datatable-bootstrap.js"></script>
<script type="text/javascript" src="assets/widgets/datatable/datatable-responsive.js"></script>
<script type="text/javascript">
/* Datatables responsive */
$(document).ready(function() {
  $('#datatable-responsive').DataTable({responsive:true});
  $('.dataTables_filter input').attr("placeholder", "Search...");
});
</script>

